In [33]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [41]:
df = pd.read_csv("/content/drive/MyDrive/Colab_Code/BL-Flickr-Images-Book.csv")

In [37]:
#package
import numpy as np
import pandas as pd

In [ ]:
df.head(30)

In [ ]:
#Check null values
df.isnull().any()

In [10]:
#Check duplicated
duplicate_rows = df.duplicated()
print("Number of duplicate rows:", duplicate_rows.sum())

Number of duplicate rows: 0

In [ ]:
#Change values NAN to zero and default false
df =df.fillna(0, inplace=False)

In [8]:
data_types = df.dtypes
print(data_types)

Identifier                  int64
Edition Statement          object
Place of Publication       object
Date of Publication        object
Publisher                  object
Title                      object
Author                     object
Contributors               object
Corporate Author          float64
Corporate Contributors    float64
Former owner               object
Engraver                  float64
Issuance type              object
Flickr URL                 object
Shelfmarks                 object
dtype: object

In [ ]:
#CSV access
data1 = pd.read_csv("/content/drive/MyDrive/Colab_Code/BL-Flickr-Images-Book.csv")
data2 = pd.read_csv("/content/drive/MyDrive/Colab_Code/olympics.csv")

In [40]:
#Merge CSV
output = pd.merge(data1, data2, how="cross")
print(output)

         Identifier Edition Statement Place of Publication  \
0               206               NaN               London
1               206               NaN               London
2               206               NaN               London
3               206               NaN               London
4               206               NaN               London
...             ...               ...                  ...
1226471     4160339               NaN               London
1226472     4160339               NaN               London
1226473     4160339               NaN               London
1226474     4160339               NaN               London
1226475     4160339               NaN               London

        Date of Publication         Publisher  \
0               1879 [1878]  S. Tinsley & Co.
1               1879 [1878]  S. Tinsley & Co.
2               1879 [1878]  S. Tinsley & Co.
3               1879 [1878]  S. Tinsley & Co.
4               1879 [1878]  S. Tinsley & Co.
...                     ...               ...
1226471             1834-43               NaN
1226472             1834-43               NaN
1226473             1834-43               NaN
1226474             1834-43               NaN
1226475             1834-43               NaN

                                                     Title Author  \
0                        Walter Forbes. [A novel.] By A. A  A. A.
1                        Walter Forbes. [A novel.] By A. A  A. A.
2                        Walter Forbes. [A novel.] By A. A  A. A.
3                        Walter Forbes. [A novel.] By A. A  A. A.
4                        Walter Forbes. [A novel.] By A. A  A. A.
...                                                    ...    ...
1226471  Collectanea Topographica et Genealogica. [Firs...    NaN
1226472  Collectanea Topographica et Genealogica. [Firs...    NaN
1226473  Collectanea Topographica et Genealogica. [Firs...    NaN
1226474  Collectanea Topographica et Genealogica. [Firs...    NaN
1226475  Collectanea Topographica et Genealogica. [Firs...    NaN

                                    Contributors  Corporate Author  \
0                                FORBES, Walter.               NaN
1                                FORBES, Walter.               NaN
2                                FORBES, Walter.               NaN
3                                FORBES, Walter.               NaN
4                                FORBES, Walter.               NaN
...                                          ...               ...
1226471  BANDINEL, Bulkeley.|Nichols, John Gough               NaN
1226472  BANDINEL, Bulkeley.|Nichols, John Gough               NaN
1226473  BANDINEL, Bulkeley.|Nichols, John Gough               NaN
1226474  BANDINEL, Bulkeley.|Nichols, John Gough               NaN
1226475  BANDINEL, Bulkeley.|Nichols, John Gough               NaN

         Corporate Contributors  ...         6     7     8     9     10  \
0                           NaN  ...  ? Winter  01 !  02 !  03 !  Total
1                           NaN  ...         0     0     0     0      0
2                           NaN  ...         3     0     0     0      0
3                           NaN  ...        18     0     0     0      0
4                           NaN  ...         6     0     0     0      0
...                         ...  ...       ...   ...   ...   ...    ...
1226471                     NaN  ...         0     0     0     0      0
1226472                     NaN  ...         0     0     0     0      0
1226473                     NaN  ...         1     0     0     0      0
1226474                     NaN  ...         0     0     0     0      0
1226475                     NaN  ...        22   959   958   948   2865

              11    12    13    14              15
0        ? Games  01 !  02 !  03 !  Combined total
1             13     0     0     2               2
2             15     5     2     8              15
3             41    18    24    28              70
4             11     1     2     9              12
...          ...   ...   ...   ...             ...
1226471        1     0     1     2               3
1226472       12     0     1     1               2
1226473       13     3     4     1               8
1226474        3     8     5     4              17
1226475       49  5768  5733  6078           17579

[1226476 rows x 31 columns]